.TabelaProdutos table {
  width: 100%;
}

.TabelaProdutos th {
  background-color: #188dd1;
}

.TabelaProdutos .Par {
  background-color: #ddd;
}

.TabelaProdutos .Impar {
  background-color: #eeee;
}
